---
layout: landing
---
<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>{{ site.title }}</h2>
			<p>{{ site.description | markdownify }}</p>
			<ul class="actions">
				{% for post in site.posts %}
					{% if post.category == "travel" and post.bannerlink %}
						<li><a href="{{ post.permalink }}" class="button">Latest Article</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<a href="#one" class="more scrolly">Learn More</a>
	</section>

{% include instagram-feed.html %}

<!-- One -->
{% comment %}
	<section id="one" class="wrapper style1 special">
		<div class="inner">
			<header class="major">
				<h2>Hey! I'm Steph<br />
				<p> This is where I share my love of the outdoors, adventure planning and my favourite gear.</p>
			</inner>
			<ul class="icons major">
				<li><span class="icon fa-tree major style1"><span class="label">Lorem</span></span></li>
				<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
				<li><span class="icon fa-angellist major style3"><span class="label">Dolor</span></span></li>
			</ul>
		</div>
	</section>
{%endcomment%}

<!-- Travel -->
	<div class="travel__title">
		<h3>My featured travels</h3>
	</div>
	<section id="travel" class="wrapper alt style2">
		{% for post in site.posts %}
			{% if post.category == "travel" and post.featured %}
				<section class="spotlight">
					<div class="image"><img src="{{ post.thumb }}" alt="{{ post.title }}" /></div>
					<div class="content">
						<h2>{{ post.title }}</h2>
						<p>{{ post.blurb }}</p>
						<a class="button" title="Read the article - {{ post.title }}" href="{{ post.permalink }}">Read the article</a>
					</div>
				</section>
			{% endif %}
		{% endfor %}
	</section>

<!-- Gear -->
	<section id="gear" class="wrapper style3 special">
		<div class="inner">
			<header class="major">
				<h2>My Favourite Gear</h2>
				<p>Camping, canoeing, climbing and everyday gear reviews.</p>
			</header>
			<ul class="features">
				{% for post in site.posts %}
					{% if post.category == "gear" %}
						<li class="icon fa-compass">
							<a href="{{ post.permalink }}">
								<h3>{{ post.title }}</h3>
								<p>{{ post.blurb }}</p>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</section>

<!-- CTA -->
	<section id="cta" class="wrapper style4">
		<div class="inner">
			<header>
				<h2>Stay Connected!</h2>
				<p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
			</header>
			<ul class="actions vertical">
				<li><a href="#sign-up-form" class="button fit special sign-up">Sign Up</a></li>
				<!-- <li><a href="#" class="button fit">Learn More</a></li> -->
			</ul>
		</div>
	</section>


	<div id="sign-up-form" class="zoom-anim-dialog  mfp-hide">

		<form>
			<label for="email">Email Address:</label>
			<input type="email" name="email" id="email" />
			<button class="button special">Sign up</button>
		</form>

	</div>
