<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li class="menu-title"><a href="" class="travel-menu-trigger">Travel</a></li>
            <li class="menu-slide travel-menu">
              <ul>
                {% for link in site.posts %}
                  {% if link.category == "travel" %}
                    <li><a href="{{ link.permalink }}" title="{{ link.title }}">{{ link.title }}</a></li>
                  {% endif %}
                {% endfor %}
                <ul>
                  <li class="menu-title"><a href="" class="hike-menu-trigger">Hike</a></li>
                  <li class="menu-slide hike-menu">
                    <ul>
                      {% for link in site.posts %}
                        {% if link.category == "hike" %}
                          <li><a href="{{ link.permalink }}" title="{{ link.title }}">{{ link.title }}</a></li>
                        {% endif %}
                      {% endfor %}
              </ul>
            </li>
            <li class="menu-title"><a href="" class="gear-menu-trigger">Gear</a></li>
            <li class="menu-slide gear-menu">
              <ul>
                {% for link in site.posts %}
                  {% if link.category == "gear" %}
                    <li><a href="{{ link.permalink }}" title="{{ link.title }}">{{ link.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li class="menu-title"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
                   class="icon fa-feed"> RSS Feed</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
