---
layout: page
---

<!DOCTYPE html>
{% include ascii.html %}
<html>

  {% include head.html %}

  <body>

    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {% include header.html %}

<article id="main">

  <header style="background: url({{ page.banner }}); background-size: cover; background-position: center center;">
    <h2>{{ page.title }}</h2>
    <p>{{ page.blurb }}</p>
  </header>

  <section class="wrapper style5">
    <div class="inner article">
      {{ content }}
    </div>
  </section>

</article>


{% include footer.html %}

{% include scripts.html %}

</div>

</body>

</html>
